<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".app.SampleApplicationTV"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NPOPlayerAndroidSampleApp">

        <meta-data
            android:name="BITMOVIN_PLAYER_LICENSE_KEY"
            android:value="${YOUR-PLAYER-LICENSE-KEY}" />
        <meta-data
            android:name="BITMOVIN_ANALYTICS_LICENSE_KEY"
            android:value="${YOUR-ANALYTICS-LICENSE-KEY}" />

        <activity
            android:name=".presentation.selection.MainActivity"
            android:banner="@mipmap/ic_launcher"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_round"
            android:logo="@mipmap/ic_launcher"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.selection.PlayerActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.playback.PlaybackActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.error.BrowseErrorActivity"
            android:exported="false" />
    </application>

</manifest>
